<footer class="container mb-4">
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-2">合辦單位：</div>
            <div class="col-lg-2 text-center py-3">
                <a href="https://www.iis.sinica.edu.tw/zh/index.html" target="_blank"><img src="assets/images/iis-logo.png"/></a>
            </div>
            <div class="col-lg-2 text-center py-3">
                <a href="https://www.citi.sinica.edu.tw/" target="_blank"><img src="assets/images/citi-logo.png"/></a>
            </div>
            <div class="col-lg-3 text-center py-3">
                <a href="https://codata.sinica.edu.tw/" target="_blank"><img src="assets/images/cdt-logo.png"/></a>
            </div>
            <div class="col-lg-3 text-center py-3">
                <a href="https://www.nstc.gov.tw/" target="_blank"><img src="assets/images/nstc-logo.png"/></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-4">籌辦單位：</div>
            <div class="col-lg-8 text-center">
                <a href="https://lab.depositar.io/" target="_blank"><img src="assets/images/depositar-logo.png"/></a>
            </div>
        </div>
    </div>
</div>
<hr>
<address id="about" class="vcard body">ODW.TW: <a href="https://odw.tw/2013/index.html" target="_blank" rel="noopener noreferrer">2013</a> | <a href="https://odw.tw/2014/index.html" target="_blank" rel="noopener noreferrer">2014</a> | <a href="https://odw.tw/jwodr2015/index.html" target="_blank" rel="noopener noreferrer">2015</a> | <a href="https://odw.tw/2016/index.html" target="_blank" rel="noopener noreferrer">2016</a> | <a href="https://odw.tw/2017/index.html" target="_blank" rel="noopener noreferrer">2017</a> | <a href="https://odw.tw/RDMW2018/index.html" target="_blank" rel="noopener noreferrer">2018</a> | <a href="https://odw.tw/RDMTW2020/index.html" target="_blank" rel="noopener noreferrer">2020</a> | <a href="https://odw.tw/2021/" target="_blank" rel="noopener noreferrer">2021</a>
    
    &nbsp;&nbsp;&nbsp;CONTACT US:&nbsp;rdm.contact AT depositar.io<br><a href="http://creativecommons.org/licenses/by/4.0/" rel="license"><img style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="Creative Commons License"></a><br>This work is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.</address>
</footer>
