.navbar-brand {
  color: var(--oc-gray-0);

  &:hover {
    color: var(--oc-gray-0);
  }
}

.nav-link {
  color: var(--oc-gray-0);

  &:hover {
    color: var(--oc-gray-0);
  }
}

.container {
   --bs-gutter-x: 0;
}

.banner {
    height: 300px;
    background-image: url(../images/banner.png);
    //background-position: right;
    background-size: 1350px;
}

